body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    background: #121212;
    color: #e0e0e0;
    text-align: center;
}
header {
    width: 30%;
    display: inline-block;
    background-color: #444444;
    text-align: center;
    font-family: 'Cascadia Mono' ,sans-serif;
    font-weight: bold;
    font-size: 200%;
    border-style: double;
    border-color: orangered;
    border-radius: 10px;
}
.headimg {
    max-width: 250px;
    max-height: 250px;
}
ul {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
    list-style-type: none;
    background-color: #4dabf7;
    border-style: double;
    border-color: orangered;
    border-radius: 10px;
}
h1 {
    font-family: 'Cascadia Mono' ,sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px double orangered;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #444444;
    color: white;
}
tr:nth-child(even) {
    background-color: #636363;
}
.price-col {
    font-weight: bold;
}
footer {
    font-size: small;
}
.partlink {
    color: #4dabf7;
}
.procimg {
    max-width: 400px;
    max-height: 400px;
}
.contactul {
    align-items: center ;
}
.contactinfo {
    font-size: larger;
}
.cinfoemail {
    color: #4dabf7; 
    font-weight: lighter;
}
.teamport {
    max-width: 400px;
    max-height: 400px;
}
.tm:after {
    content: "\2122";
    font-size: 0.6em;
    vertical-align: super;
}
.copyright:before {
    content: "\00A9";
}
.regtm:after {
  content: "\00AE";
  font-size: 0.7em;
  vertical-align: super;
}